#body {
  background-color: #d7dadb;
}

.scrollbar::-webkit-scrollbar {
  width: 0.2rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #d10606;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
